params{
    outdir = 'results'
    desired_feature_name = 'OQs'

    target_genome = "${projectDir}/../TriTrypDB-64_TbruceiLister427_2018_Genome.fasta"
    original_genome = "${projectDir}/../TriTrypDB-68_TbruceiTREU927_Genome.fasta"
}
//wave {
//    enabled = true
//    strategy = ['conda']
//    freeze = true
//}
profiles {
    standard {
        docker.enabled = false
        conda.enabled = true
    }
}